@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply border-border;
  }
  :root {
    --background: 240 10% 98%; 
    --foreground: 240 10% 20%; 

    --card: 240 10% 100%; 
    --card-foreground: 240 10% 20%; 

    --popover: 240 10% 100%; 
    --popover-foreground: 240 10% 20%; 

    --primary: 240 10% 92%; 
    --primary-foreground: 240 10% 20%; 
    --primary-dark: 240 10% 80%; 
    --primary-light: 240 10% 96%; 

    --secondary: 154 84% 95%; 
    --secondary-foreground: 154 84% 30%; 
    --secondary-dark: 154 84% 70%; 
    --secondary-light: 154 84% 98%; 

    --muted: 240 10% 96%; 
    --muted-foreground: 240 10% 30%; 

    --accent: 154 84% 95%; 
    --accent-foreground: 154 84% 30%; 
    --accent-dark: 154 84% 70%; 
    --accent-light: 154 84% 98%;

    --destructive: 0 84% 60%; 
    --destructive-foreground: 0 0% 100%; 

    --border: 240 10% 85%;
    --input: 240 10% 85%;
    --ring: 240 10% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%; 
    --foreground: 240 10% 90%; 

    --card: 240 10% 8%;
    --card-foreground: 240 10% 90%;

    --popover: 240 10% 8%;
    --popover-foreground: 240 10% 90%;

    --primary: 240 10% 15%; 
    --primary-foreground: 240 10% 90%; 
    --primary-dark: 240 10% 25%;
    --primary-light: 240 10% 10%;

    --secondary: 154 84% 60%; 
    --secondary-foreground: 240 10% 90%; 
    --secondary-dark: 154 84% 50%; 
    --secondary-light: 154 84% 70%; 

    --muted: 240 10% 15%;
    --muted-foreground: 240 10% 90%;

    --accent: 154 84% 60%;
    --accent-foreground: 240 10% 90%;
    --accent-dark: 154 84% 50%;
    --accent-light: 154 84% 70%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 240 10% 90%;

    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 240 10% 30%;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "FigTree", sans serif;
  }
}

.gradient-text {
  background: linear-gradient(to right, #32a16f, #0ec472);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline;
}
.hero {
  /* background: linear-gradient(
      rgb(0, 0, 0), 
      rgba(0, 0, 0, 0.8)  
  ),
  url('../public/background.jpg');
  background-size: cover;
  background-position: center; */
  width: 100vw;
  height: 100vh;
}
